<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% if (loggedin == true) { %>
			<% include ../partials/header-loggedin-admin %>
			<%console.log('Logged in user visiting admin:', userfromsession)%>
		<% } else{ %>
			<% include ../partials/header %>
		<% } %>
	</header>

	<main>
		<div>
			<h2>Admin Page</h2>
			<h3>List of all users.</h3>
			<div class="row">
				<div class="col-md-6">
					<p>Click here to go to <a href="/admin/pluginmanager">Plugin Manager</a>.</p>
				</div>
			</div>
			<div>
				<table class="table table-responsive table-striped">
					<tr>
						<th>User ID</th>
						<th>Name</th>
						<th>Role</th>
					</tr>
						<% allUsers.forEach(function(index) { %>
						<tr>
							<td> <%= index.id %></td>
							<td> <%= index.name %> </td>
							<td> <% if (index.role == 1) { %>
										Admin
										<% } else { %>
										Normal User
										<% } %>
							</td>
						</tr>
						<% });%>
				</table>
			</div>
		</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>