<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% if (loggedin == true) { %>
			<% include ../partials/header-loggedin-admin %>
			<%console.log('Logged in user visiting admin:', userfromsession)%>
		<% } else{ %>
			<% include ../partials/header %>
		<% } %>
	</header>

	<main>
	<div class="jumbotron">
		<!-- Trigger the modal with a button -->
		<div class="col-sm-offset-10">
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#postModal">New post</button>
		</div>
		<!-- Modal -->
		<div id="postModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Create news post</h4>
		      </div>
		      <div class="modal-body">
					<form method="post" class="form" action="/addpost">
					<label>Title: </label>
						<input type="text" name="newPostTitle">
						<br>
					<label>Content: </label>
						<textarea name="newPostText" style="width:300px; height:150px;"></textarea>
						<br>
						<button class="btn btn-success" type="submit" name="addPost" value="add">Create New Post</button> 
					</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
	<h2>Current posts</h2>
		<% newsPosts.forEach(function(index) { %>
			<div class="row">
				<div class="col-md-6">
					<form class="form form-horizontal" method="post" action="/editpost">
					<input type="hidden" name="postid" value="<%= index.id %>">
					<div class="form-group">
					<lable class="control-label col-sm-2">Title:</lable>
					<div class="col-sm-10">
							<input type="text" value="<%= index.title %>" name="postTitle">
					</div>
					</div>
					<div class="form-group">
						<lable class="control-label col-sm-2">Content:</lable>
						<div class="col-sm-10">
							<textarea rows="10" style="height:100%; width:100%;" name="postText"><%= index.post %></textarea>
						</div>
					</div>
					<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<%= index.post_date.toDateString() %>
							</div>
					</div>
					<div class="form-group">
						<button class="btn btn-success btn-lg" type="submit" name="savePost" value="save">Save Changes</button>
					</div>
					</form>	
						<br />
				</div>
			</div>
		<% }); %>
	</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>