<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% if (loggedin == true) { %>
			<% include ../partials/header-loggedin-admin %>
			<%console.log('Logged in user visiting admin:', userfromsession)%>
		<% } else{ %>
			<% include ../partials/header %>
		<% } %>
		
	</header>

	<main>
		<div class="jumbotron">
			<h2>Plugin manager</h2>
			<div class="row">
				<div class="col-md-6">
					<label>Dummy</label>
					<label class="switch">
					  <input type="checkbox">
					  <div class="slider round"></div>
					</label>
				</div>
			</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>