<!DOCTYPE html>
<html>
	<% include ../partials/head %>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
		<h2>Login</h2>

		<p style="color:red"><%=error%></p>

		<form class="form form-horizontal" method="post" action="/goLogin">
			<div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" required="true" placeholder="Enter your Name"/>
                    </div>
                </div>
            </div>

			<div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" required="true" placeholder="Enter your Password"/>
                    </div>
                </div>
            </div>

			<!-- <input type="password" name="password" commented out for now until login works without pw -->
			<button type="submit" name="loginbutton" class="btn btn-primary" value="Login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
		</form>
		</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>