<!DOCTYPE html>
<html>
	<% include ../partials/head %>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
		<h2>Register</h2>
		<form class="form form-horizontal" method="post" action="/doRegister">
			<div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" required="true" placeholder="Enter your Name"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" required="true6 " name="email" placeholder="example@example.com"/>
                    </div>
                </div>
            </div>

			<div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" required="true" placeholder="Enter your Password"/>
                    </div>
                </div>
            </div>
			<!-- <input type="password" name="password" commented out for now until login works without pw -->
			<button type="submit" name="registerbutton" class="btn btn-primary" value="Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button>
		</form>
		</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>