<!DOCTYPE html>
<html>
	<% include ../partials/head %>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
		<%= error %>. You will be redirected to Register page...<br>
		Click <a href="/register">here</a> if you haven't been redirected...
		<script type="text/javascript">
		setTimeout("location.href = '/account/register'",3000);
		</script>
		</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>