<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<i class="fa fa-superpowers" aria-hidden="true"></i>
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="/admin/pluginmanager"><i class="fa fa-adjust"></i> Plugins Manager</a></li>
			<li><a href="/admin/newsmanager"><i class="fa fa-newspaper-o"></i> News Manager</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
			<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
		</ul>

	</div>
</nav>