<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<i class="fa fa-superpowers" aria-hidden="true"></i>
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="/about"><i class="fa fa-question-circle-o"></i> About</a></li>
			<li><a href="/news"><i class="fa fa-newspaper-o"></i> News</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
			<li><a href="/account/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
		</ul>

	</div>
</nav>