<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% include ../partials/header-loggedin %>
	</header>

	<main>
		<div class="jumbotron">

			<h2>Edit profile</h2>
			<form class="form form-horizontal" method="post" " action="/deleteProfile">

			<p>Are you sure you want to deactivate your account? Click <a href="/user/profile"><b><i>here</i></b></a> to go back to your profile.</p>
			<!-- <input type="password" name="password" commented out for now until login works without pw -->
			<div class="form-group">
			<lable for="name">Deactivate: </lable>
				<button name="deletebutton" type="submit" class="btn btn-primary" value="Delete"><i class="fa fa-paper-plane" aria-hidden="true"></i> Delete</button>
			</div>
			</form>
		</div>
	</main>

	<foooter>
	<% include ../partials/footer %>
	</footer>
</body>