<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% include ../partials/header-loggedin %>
	</header>

	<main>
		<div class="jumbotron">

			<h2>Edit profile</h2>
			<form class="form form-horizontal" method="post" " action="/editProfile">

			<div class="form-group">
					<lable for="name">Name: </lable>
					<input type="text" name="name" value= "<%= yourname %>" >
			</div>

			<div class="form-group">	
				<lable for="email">Email: </lable>
				<input type="text" name="email" placeholder="example@email.com" value="<%= email %>">
			</div>
			
			<div class="form-group">
				<lable for="pass">Password: </lable>
				<input type="password" name="pass" value="" placeholder="Your New Password">
			</div>


			<!-- <input type="password" name="password" commented out for now until login works without pw -->
			<div class="form-group">
				<button name="savebutton" type="submit" class="btn btn-primary" value="Save"><i class="fa fa-paper-plane" aria-hidden="true"></i> Save</button>
			</div>
			</form>
		</div>
	</main>

	<foooter>
	<% include ../partials/footer %>
	</footer>
</body>