<!DOCTYPE html>
<html>
</html> 
	<header>
		<% include ../partials/head %>
		<% include ../partials/header-loggedin %>
	</header>
<main>
<body class="container">
	<div class="jumbotron">
		<div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h2>Welcome to your profile, <%= yourname%></h2>
                </div>              
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <ul class="list-group">
                    	<%if(userRole == 1 ) { %>
                    	<li class="list-group-item"><a href="/admin"><i class="fa fa-lock"></i> Go to Admin page </a></li>
                    	<%}%>
						<li class="list-group-item"><a href="" data-toggle="modal" data-target="#profileEditModal"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile</a></li>
						<li class="list-group-item"><a href="" data-toggle="modal" data-target="#profileDeleteModal"><i class="fa fa-ban" aria-hidden="true"></i> Deactivate Account</a></li>
					</ul>
                </div>
            </div>
        </div>			
	</div>
     <div id="profileDeleteModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate</h4>
              </div>
                  <div class="modal-body">
                  <div style="margin-left:20px; margin-right:20px;">
                    <div class="main-login main-center">
                    <form class="form form-horizontal" method="post" " action="/deleteProfile">
                        <p>Are you sure you want to deactivate your account? Click the close button if you clicked this by accident.</p>
                        <div class="form-group">
                            <button name="deletebutton" type="submit" class="btn btn-primary" value="Delete"><i class="fa fa-paper-plane" aria-hidden="true"></i> Deactivate</button>
                        </div>
                        </form>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>         
    <div id="profileEditModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit profile</h4>
              </div>
                  <div class="modal-body">
                  <div style="margin-left:20px; margin-right:20px;">
                    <div class="main-login main-center">
                    <form class="form-horizontal" method="post" action="/editProfile">
                        
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name"  value="<%= yourname %>"  placeholder="Enter your Name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" value="<%= email %>" placeholder="example@example.com"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Your Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="pass"  placeholder="Your new password"/>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <button name="savebutton" type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    </div>
                    </div>
                </form>
              </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
            </div>
        </div>
    </div>
</div>
</main>
<foooter>
    <% include ../partials/footer %>
</footer>