<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../../partials/head %>
		<% include ../../partials/header-loggedin %>
	</header>

	<main>
		<div class="jumbotron">

			<h2>Success</h2>

			<p>Profile successfully changed! Redirecting to your profile in 3 seconds...</p>
		<script type="text/javascript">
			setTimeout("location.href = '/user/profile'",3000);
			</script>
		</div>
	</main>

	<foooter>
	<% include ../../partials/footer %>
	</footer>
</body>