<!DOCTYPE html>
<html lang="en">
<header>
<% include ../partials/head %>
        <% if (loggedin == true) { %>
            <% include ../partials/header-loggedin %>
            <%console.log('Logged in user visiting about:', userfromsession)%>
        <% } else{ %>
            <% include ../partials/header %>
        <% } %>
</header>

<body class="container">
    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h1>Who are we?</h1>
                    We are a small, yet growing(!), start up to create fast and easy to use websites for you!<br>
                    Currently we are working on our very own CMS product, which this website you see right now is built on.
                    We want to make sure that our customers have the best possible experience when using our product. 
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Sidebar content todo</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>