<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% if (loggedin == true) { %>
			<% include ../partials/header-loggedin %>
			<%console.log('Logged in user visiting index:', userfromsession)%>
		<% } else{ %>
			<% include ../partials/header %>
		<% } %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is EJS bruh</h1>
				<p>Welcome to KYS. I want your cummies daddy~~~ pls giv cummiez</p>
			<h2>Show data from db from backend with loop</h2>
				<ul>
				<% names.forEach(function(index) { %>
					<li> <%= index.name %></li>
					<% });%>
				</ul>

			<h2>Show data from single index</h2>
				<p><%= singleName %><p>
				<p> <%= postUSER %> </p>
		</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>