<!DOCTYPE html>
<html>
</html>
<body class="container">
	<header>
		<% include ../partials/head %>
		<% if (loggedin == true) { %>
			<% include ../partials/header-loggedin %>
			<%console.log('Logged in user visiting index:', userfromsession)%>
		<% } else{ %>
			<% include ../partials/header %>
		<% } %>
	</header>

	<main>
		<div class="jumbotron">
			<% newsPosts.forEach(function(index) { %>
			<div class="row">
			    <div class="col-md-1"></div>
					<div class="col-md-6">
						<div id="postlist">
							<div class="panel">
			            	    <div class="panel-heading">
			                	    <div class="text-center">
			                    	    <div class="row">
			                        	    <div class="col-sm-9">
			                            	    <h3 class="pull-left"><%= index.title %></h3>
			                            	</div>
			                            	<div class="col-sm-3">
			                                	<h4 class="pull-right">
			                                	<small><%= index.post_date.toDateString() %></small>
			                                	</h4>
			                            	</div>
			                        	</div>
			                    	</div>
			                	</div>
			            	<div class="panel-body">
			               		<%= index.post %>
			            	</div>
			        	</div>
			    	</div>
				</div>
			</div>
<% }); %>
</div>
	</main>

	<foooter>
		<% include ../partials/footer %>
	</footer>
</body>